<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<welcome-file-list>
<welcome-file>noteBookRegister.jsp</welcome-file>
<welcome-file>noteBookLogin.jsp</welcome-file>
</welcome-file-list>

<context-param>
<param-name>driverclass</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</context-param>
<context-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
</context-param>
<context-param>
<param-name>dbuser</param-name>
<param-value>SYSTEM</param-value>
</context-param>
<context-param>
<param-name>dbpwd</param-name>
<param-value>TIGER</param-value>
</context-param>

<servlet>
<servlet-name>registerjsp</servlet-name>
<jsp-file>/register_jsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>registerjsp</servlet-name>
<url-pattern>/registerurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>otpcheckjsp</servlet-name>
<jsp-file>/otpCheck_jsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>otpcheckjsp</servlet-name>
<url-pattern>/otpcheckurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>storedatajsp</servlet-name>
<jsp-file>/storeUserData_jsp.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>storedatajsp</servlet-name>
<url-pattern>/storedataurl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loginjsp</servlet-name>
<jsp-file>/noteBookLogin.jsp</jsp-file>
</servlet>
<servlet-mapping>
<servlet-name>loginjsp</servlet-name>
<url-pattern>/loginjspurl</url-pattern>
</servlet-mapping>


</web-app>