<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
	<servlet-name>covidcheck</servlet-name>
	<servlet-class>com.pns.servlet.CoronaVaccineEligibilityCheck</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>covidcheck</servlet-name>
	<url-pattern>/covidcheckurl</url-pattern>
</servlet-mapping>
</web-app>